<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Blockchain API</title>
    <marquee bgcolor="orange">POST ANYTHING</marquee>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <video src="static\beijing.mp4" class="bjimg" autoplay loop muted></video>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body class="bg-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6">
                <!-- 添加一个按钮来显示输入框 -->
                <button id="toggle-input" onclick="toggleInput()" class="btn btn-primary mb-3">Show Input</button>
                <!-- 添加一个按钮来切换亮暗模式 -->
                <!-- <button onclick="toggleDarkMode()" class="btn btn-primary mb-3">Toggle Dark Mode</button> -->

                <div style="display: flex;">
                    <h2>Mine</h2>
                    <button id="mine" class="btn btn-primary mb-3">Mine</button>
                </div>

                <h2>New Chat</h2>
                <div class="input-group mb-3">
                    <input type="password" id="sender" class="form-control" placeholder="Enter sender">
                    <input type="password" id="recipient" class="form-control" placeholder="Enter recipient">
                    <input type="text" id="category" class="form-control" placeholder="Enter category">
                    <input type="text" id="text" class="form-control" placeholder="Enter text">
                    <div class="input-group-append">
                        <button id="new_transaction" class="btn btn-success">New Chat</button>
                    </div>
                </div>
                

                <div style="display: flex;">
                    <h2>Show Full Chain</h2>
                    <button id="full_chain" class="btn btn-info mb-3">Full Chain</button>
                </div>

        
                <h2>Register Nodes</h2>
                <div class="input-group mb-3">
                    <input type="text" id="nodes" class="form-control" placeholder="Enter new nodes">
                    <div class="input-group-append">
                        <button id="register_nodes" class="btn btn-warning">Register Nodes</button>
                    </div>
                </div>
                

                <div style="display: flex;">
                    <h2>Consensus</h2>
                    <button id="consensus" class="btn btn-danger mb-3">Consensus</button>
                </div>
            </div>
            <div class="col-md-6">
                <h2>Response</h2>
                <pre id="response" class="border p-3 bg-white"></pre>
            </div>
        </div>
    </div>

    <script>
        function toggleInput() {
            // 切换输入框的显示状态
            $('.input-group').toggle();
            // 切换按钮的文本
            $('#toggle-input').text($('.input-group').is(':visible') ? 'Hide Input' : 'Show Input');
        }
        /* function toggleDarkMode() {
            // 切换亮暗模式
            $('body').toggleClass('dark-mode');
        } */
        // 其他代码...
        function callAPI(api, method, data) {
            $.ajax({
                url: 'http://127.0.0.1:5000/' + api,
                type: method,
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                success: function(response) {
                    $('#response').html('<pre>' + JSON.stringify(response, null, 4) + '</pre>');
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.error(textStatus, errorThrown);
                }
            });
        }

        $('#mine').click(function() { callAPI('mine', 'GET'); });

        $('#new_transaction').click(function() {
            var sender = $('#sender').val();
            var recipient = $('#recipient').val();
            var category = $('#category').val();
            var text = $('#text').val();
            callAPI('transactions/new', 'POST', { sender: sender, recipient: recipient, category: category, text: text});

            // Clear input fields after submission
            $('#sender').val('');
            $('#recipient').val('');
            $('#category').val('');
            $('#text').val('');
        });

        $('#full_chain').click(function() { callAPI('chain', 'GET'); });

        $('#register_nodes').click(function() {
            var nodes = $('#nodes').val().split(',');
            callAPI('nodes/register', 'POST', { nodes: nodes });

            // Clear input field after submission
            $('#nodes').val('');
        });

        $('#consensus').click(function() { callAPI('nodes/resolve', 'GET'); });
    </script>
</body>
</html>
